{{#if banners.bottom}}
    {{#if settings.data_tag_enabled}}
        <div class="banners" data-banner-location="bottom">
            {{#each (limit banners.bottom_metadata 1)}}
                <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                    <div data-event-type="promotion-click">
                        {{{this.content}}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <div class="banners" data-banner-location="bottom">
            <div class="banner">
                {{{limit banners.bottom 1}}}
            </div>
        </div>
    {{/if}}

{{/if}}

<footer class="ebac-footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-5">
				<div class="foot-logo-text">  <a class="logo" href="https://www.ebac.com"><img src="https://cdn11.bigcommerce.com/s-vbvjr2ffm9/product_images/uploaded_images/ebac-white-logo2x.png" alt="" class="img-fluid"></a>
					<div class="social-icons"> <a href="https://www.facebook.com/EbacUK" target="_blank"><i class="fab fa-facebook-square"></i></a> <a href="https://twitter.com/ebacuk" target="_blank"><i class="fab fa-twitter"></i></a> <a href="https://www.youtube.com/user/EbacDehumidifiers" target="_blank"><i class="fab fa-youtube" target="_blank"></i></a> </div>
					<div class="copyright"> Copyright © 2022. All Rights ® Reserved. </div>
				</div>
			</div>
			<div class="col-lg-2">
            	<div class="foot-link">
            	    <ul>
            		    <li><a href="https://www.ebac.com/dehumidifiers/range">Dehumidifiers</a></li>
                		<li><a href="https://www.ebac.com/washing-machines/range">Washing Machines</a></li>
            		    <li><a href="https://www.ebac.com/about-ebac">About Ebac</a></li>
            		    <li><a href="https://www.ebac.com/support/customer-service">Support</a></li>
            		</ul>
            	</div>
            </div>
            <div class="col-lg-2">
            	<div class="foot-link">
            	    <ul>
            		    <li><a href="https://www.ebac.com/support/customer-service">Keep in touch</a></li>
            		    <li><a href="https://www.ebac.com/support/customer-service">Contact Us</a></li>
            		    <li><a href="https://www.ebac.com/support/request-a-callback/">Request a callback</a></li>
            		    <li><a href="https://www.ebac.com/articles">Articles</a></li>
            		</ul>
            	</div>
            </div>
            <div class="col-lg-3">
            	<div class="foot-link">
            	    <ul>
            		    <li><a href="https://www.ebac.com/coming-soon">Cookie Policy</a></li>
            		    <li><a href="https://www.ebac.com/support/privacy-policy">Privacy Policy</a></li>
            		    <li><a href="https://www.ebac.com/support/returns-policy">Returns Policy</a></li>
            		    <li><a href="https://www.ebac.com/support/terms-and-conditions">Terms and conditions</a></li>
                    </ul>
            	</div>
            </div>
		</div>
	</div>
</footer>
