<ul class="cart-totals">
     {{#each cart.items}}
            
            {{#inArray (split "133,134,135,136,137,138,139,140,141,142,143,144,145,146" ",") (JSONstringify product_id) }}
                
                <style>
                    .show-hide{display:flex;}
                </style>
                
            {{/inArray}}
            
            {{#inArray (split "125,127,189,128,129,131,132,191" ",") (JSONstringify product_id) }}
                
                <style>
                    .warranty-hide{display:flex;}
                </style>
                
            {{/inArray}}
             {{#if product_id '==' 147}}
                
                <style>
                    .installtion{display:none;}
                </style>
                
            {{/if}}
            {{#if product_id '==' 148}}
                
                <style>
                    .disposal{display:none;}
                </style>
                
            {{/if}}
            {{#if product_id '==' 179}}
                
                <style>
                    .disconnection{display:none;}
                </style>
                
            {{/if}}
            {{#if product_id '==' 198}}
                
                <style>
                    .warranty-hide{display:none;}
                </style>
                
            {{/if}}
        {{/each}}
        
           <h3 class="help-heading show-hide">Help with connection and removal</h3>
                <li class="d-flex show-hide installtion">
                    <div class="product-icon">
                        <img src="https://cdn11.bigcommerce.com/s-vbvjr2ffm9/images/stencil/original/image-manager/wrench.png">
                    </div>
                    <div class="description">
                        <h6>Connection £25 </h6>
                        <p>Our professional team will unpack, connect and test your new washing machine on delivery.</p>
                    </div>
                    <div class="button cart-button">
                        <a href="https://checkout.ebac.com/cart.php?action=add&product_id=147">Add to basket</a>
                    </div>
                    
                </li>
                
                <li class="d-flex show-hide disposal">
                    <div class="product-icon">
                        <img src="https://cdn11.bigcommerce.com/s-vbvjr2ffm9/images/stencil/original/image-manager/dustbin.png">
                    </div>
                    <div class="description">
                        <h6>Remove \ Disposal £35.00</h6>
                        <p>Our professional delivery team will remove your disconnected washing machine and take it away for recycling. Please ensure your machine is disconnected or our team will be unable to remove it.</p>
                    </div>
                    <div class="button cart-button">
                        <a href="https://checkout.ebac.com/cart.php?action=add&product_id=148">Add to basket</a>
                    </div>
                </li>
               
                <li class="d-flex show-hide disconnection">
                    <div class="product-icon">
                        <img src="https://cdn11.bigcommerce.com/s-vbvjr2ffm9/images/stencil/original/image-manager/wrench.png">
                    </div>
                    <div class="description">
                        <h6>Disconnection £25</h6>
                        <p>Our team will disconnect your old washing machine from the plumbing system.</p>
                    </div>
                    <div class="button cart-button">
                        <a href="https://checkout.ebac.com/cart.php?action=add&product_id=179">Add to basket</a>
                    </div>
                </li>
            <h3 class="help-heading warranty-hide">Warranty Upgrade</h3>
            <li class="d-flex warranty-hide warranty-upgrade">
                <div class="product-icon">
                    <img src="https://cdn11.bigcommerce.com/s-vbvjr2ffm9/images/stencil/original/image-manager/wrench.png">
                </div>
                <div class="description">
                    <h6>Dehumidifer Warranty Upgrade £45 </h6>
                    <p>Upgrade your dehumidifier to a 5 year warranty.</p>
                </div>
                <div class="button cart-button">
                    <a href="https://checkout.ebac.com/cart.php?action=add&product_id=198">Add to basket</a>
                </div>
                
            </li>
    <li class="cart-total">
        <div class="cart-total-label">
            <strong>{{lang 'cart.checkout.subtotal'}}:</strong>
        </div>
        <div class="cart-total-value">
            {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                <span>{{cart.sub_total.formatted}}</span>
            {{else}}
                {{> components/common/login-for-pricing}}
            {{/or}}
        </div>
    </li>
    {{#if cart.gift_wrapping_cost.value}}
        <li class="cart-total">
            <div class="cart-total-label">
                <strong>{{lang 'cart.checkout.gift_wrapping'}}:</strong>
            </div>
            <div class="cart-total-value">
                <span>{{cart.gift_wrapping_cost.formatted}}</span>
            </div>
        </li>
    {{/if}}
    {{#if cart.shipping_handling.show_estimator}}
        <li class="cart-total">
            <div class="cart-total-label">
                <strong>{{lang 'cart.checkout.shipping'}}:</strong>
            </div>
            {{> components/cart/shipping-estimator cart.shipping_handling}}
        </li>
    {{/if}}
    {{#each cart.taxes}}
        {{#unless included}}
            <li class="cart-total">
                <div class="cart-total-label">
                    <strong>{{name}}:</strong>
                </div>
                <div class="cart-total-value">
                    <span>{{cost.formatted}}</span>
                </div>
            </li>
        {{/unless}}
    {{/each}}
    {{#if cart.discount }}
        <li class="cart-total">
            <div class="cart-total-label">
                <strong>{{lang 'cart.discount'}}:</strong>
            </div>
            <div class="cart-total-value">
                {{cart.discount.formatted}}
            </div>
        </li>
    {{/if}}
    {{#if cart.coupons}}
        {{#each cart.coupons}}
            <li class="cart-total">
                <div class="cart-total-label">
                    <strong>{{lang 'cart.coupons.code_label' code=code}}</strong>
                    <div>
                        <a href="{{remove_url}}">{{lang 'cart.coupons.remove'}}</a>
                    </div>
                </div>
                <div class="cart-total-value">
                    <span>{{discount.formatted}}</span>
                </div>
            </li>
        {{/each}}
    {{else}}
        <li class="cart-total">
            <div class="cart-total-label">
                <strong>{{lang 'cart.coupon_code'}}:</strong>
            </div>
            {{> components/cart/coupon-input}}
        </li>
    {{/if}}
    {{#if settings.gift_certificates_enabled}}
        {{#each cart.gift_certificates}}
            <li class="cart-total">
                <div class="cart-total-label">
                    <strong>{{lang 'cart.gift_certificates.code_label' code=code}}</strong>
                    <span>
                        {{remaining.formatted}} | <a href="{{remove_url}}">{{lang 'cart.gift_certificates.remove'}}</a>
                    </span>
                </div>
                <div class="cart-total-value">
                    {{used.formatted}}
                </div>
            </li>
        {{/each}}
        <li class="cart-total">
            <div class="cart-total-label">
                <strong>{{lang 'cart.gift_certificates.gift_certificate'}}:</strong>
            </div>
            {{> components/cart/gift-certificate-input}}
        </li>
    {{/if}}
    <li class="cart-total">
        <div class="cart-total-label">
            <strong>{{lang 'cart.checkout.grand_total'}}:</strong>
        </div>
        <div class="cart-total-value cart-total-grandTotal">
            {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                <span>{{cart.grand_total.formatted}}</span>
            {{else}}
                {{> components/common/login-for-pricing}}
            {{/or}}
        </div>
    </li>
    {{#each cart.taxes}}
        {{#if included}}
            <li class="cart-total">
                <div class="cart-total-label">
                    <strong>{{concat name (lang 'cart.included_in_total')}}:</strong>
                </div>
                <div class="cart-total-value">
                    <span>{{cost.formatted}}</span>
                </div>
            </li>
        {{/if}}
    {{/each}}
</ul>
